<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    
   <!-- <add name="LocalSqlServer" connectionString="Data Source=CHENGUANJUN-PC\SQLEXPRESS; Initial Catalog=News; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NewsConnectionString" connectionString="Data Source=localhost;     Initial Catalog=NewsReport;        Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NewsConnectionString2" connectionString="Data Source=CHENGUANJUN-PC\SQLEXPRESS;Initial Catalog=News;Integrated Security=True" providerName="System.Data.SqlClient"/>-->

    <add name="LocalSqlServer" connectionString="Data Source=localhost;        Initial Catalog=NewsReport; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NewsConnectionString" connectionString="Data Source=localhost;  Initial Catalog=NewsReport;        Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NewsConnectionString2" connectionString="Data Source=localhost; Initial Catalog=NewsReport;Integrated Security=True" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
	<system.web>
    <authentication mode="Forms">
      <forms loginUrl="manager/Login.aspx" protection="None" path="/"></forms>
    </authentication>
  <roleManager enabled="true" />
  <compilation debug="true" targetFramework="4.0"/>
	</system.web>

  <location path="Manager">

    <system.web>
      <authorization>
        <deny users="?"></deny>
      </authorization>
    </system.web>
  </location>
  
</configuration>
